.head  {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 175px;
}

.titlecontainer {
    width: 100%;
    text-align: center  ;
    font-family: Montserrat;
    color: #fff;
    text-align: center;
    font-size: 60px;
}

.title {
    font-size: 110px;
    display: inline-block;
    font-family: Montserrat;
    margin: 0%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.titleEffect {
    background: linear-gradient(90deg, #667EEA, #764BA2);
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.buttonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-top: 75px;
    margin-bottom: 50px;
}

.lessonContainer {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 100px;

    font-size: 18px;
    font-weight: 300;
    font-family: Montserrat;
    color: #fff;
    white-space: pre-wrap;
}

.lessons {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.photo1Continer {
    position: relative;
    width: 980px;
    height: 652px;
    position: relative;
    border-radius: 40px;
    background-color: rgba(81, 81, 81, 0.2);
    border: 2px solid #696c6f;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
}

.photo1 {
    width: 868px;
    height: 522px;
}

.photo2Continer {
    position: relative;
    width: 580px;
    height: 322px;
    position: relative;
    border-radius: 25px;
    background-color: rgba(81, 81, 81, 0.2);
    border: 2px solid #696c6f;
    box-sizing: border-box;

    align-items: center;
}

.photo2 {
    width: 100%;
}

.photo3 {
    width: 396px;
    height: 298px;
}

.photo4 {
    width: 236px;
    height: 306px;
}

.button {
    border-style: none;
    border-radius: 30px;
    background: linear-gradient(90deg, #0951A6, #B413B7);
    font-size: 18px;

    padding: 20px 5px
}

.exercise {
    font-size: 18px;
    font-weight: 600;
    font-family: Montserrat;
    color: #fff;
    border-radius: 30px;

    background-color: #26292c;
    width: 100%;
    padding: 15px;
}

.exercContainer {
    position: relative;
    width: 100px;
    display: flex;
    gap: 50px;
}

#pts {
    position: absolute;
    right: 15%;
}

.bg {
    width: 1300px;
    position: absolute;
    z-index: -100;
    animation: rotate 10s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#bg1 {
    top: -20%;
    right: 40%;
}

#bg2 {
    top: 10%;
    left: 55%;
}

#bg3 {
    top: -10%;
    width: 1000px;
}

#bg4 {
    top: 40%;
    right: 55%;
}

#bg5 {
    top: 0%;
    left: 55%;
}