.head {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 250px;
}

.TermTitle {
    width: 100%;
    text-align: center;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Title {
    position: relative;
    font-size: 110px;
    display: inline-block;
    font-family: Montserrat;
    background: linear-gradient(90deg, #334ab0, #45caff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0%;
}

.midsub {
    position: relative;
    font-size: 20px;
    font-family: Montserrat;
    color: #fff;
    text-align: center;
    display: inline-block;
    margin: 0%;
    margin-bottom: 50px;
}

.lessonsContainer {
    margin-top: 75px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 150px;

    position: relative;
    font-size: 18px;
    font-weight: 300;
    font-family: Montserrat;
    color: #fff;
}

.lesson {
    position: relative;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;  
    gap: 30px;
}

.lessonContent {
    width: 780px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.lessonTitle {
    width: 100%;
    text-align: left;
    font-size: 45px;
    font-weight: 600;
}

.SubTopicTitle {
    font-size: 30px;
    font-weight: 500;
    width: 100%;
    text-align: left;
}

.p {
    width: 100%;
}

.photo1 {
    width: 977px;
    object-fit: cover;
    align-self: center;
}

.photo2 {
    width: 580px;
}

.photo3 {
    width: 581px;
}

.photo4 {
    width: 830px;
}

.photo5 {
    width: 679px;
}

.photo6 {
    width: 641px;
}

.photo7 {
    width: 977px;
}

.photo8 {
    width: 691px;
}

.photo9 {
    width: 730px;
}

.photo10Container {
    width: fit-content;
}

.photo10 {
    width: 364px;
}

.bg {
    position: absolute;
    z-index: -100;
    width: 1100px;

    animation: rotation 10s linear infinite;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}


#bg1 {
    right: 55%;
    top: 25%;
}

#bg2 {
    left: 55%;
    top: 115%;
}

#bg3 {
    right: 55%;
    top: 220%;
}

#bg4 {
    left: 55%;
    top: 370%;
}

#bg5 {
    right: 55%;
    top: 470%;
}

#bg6 {
    left: 55%;
    top: 570%;
}

#bg7 {
    right: 55%;
    top: 670%;
}

#bg8 {
    left: 55%;
    top: 710%;
}

#bg9 {
    right: 55%;
    top: 800%;
}

@media only screen and (max-width:1050px){
    .head {
        gap: 100px;
    }

    .bg {
        width: 1000px;
    }

    #bg1 {
        right: 30%;
        top: 5%;
    }

    #bg2 {
        left: 30%;
        top: 70%;
    }

    #bg3 {
        right: 30%;
        top: 150%;
    }

    #bg4 {
        left: 30%;
        top: 270%;
    }

    #bg5 {
        right: 30%;
        top: 370%;
    }

    #bg6 {
        left: 30%;
        top: 430%;
    }

    #bg7 {
        right: 30%;
        top: 520%;
    }

    #bg8 {
        left: 30%;
        top: 630%;
    }

    #bg9 {
        right: 35%;
        top: 678%;
    }
}

@media only screen and (max-width:900px) {

    .lessonTitle, .SubTopicTitle {
        width: 90%;
    }

    .lesson {
        width: 90%;
    }

    .p {
        width: 90%;
    }

    .photo1 {
        width: 620px;
    }
    .photo2 {
        width: 390px;
    }
    .photo3 {
        width: 390px;
    }
    .photo4 {
        width: 600px;
    }
    .photo5 {
        width: 450px;
    }
    .photo6 {
        width: 430px;
    }
    .photo7 {
        width: 620px;
    }
    .photo8 {
        width: 470px;
    }
    .photo9 {
        width: 500px;
    }
    .photo10 {
        width: 200px;
    }
}

@media only screen and (max-width: 600px){
    .lesson, .lessonContent {
        width: 100%;
    }
    .lessonTitle {
        font-size: 30px;
    }
    .SubTopicTitle {
        font-size: 20px;
    }
    .p {
        font-size: 15px;
    }
    .p, .lessonTitle, .SubTopicTitle {
        width: 85%;
    }
    .Title {
        font-size: 70px;
    }
    .midsub {
        font-size: 15px;
    }
    .photo1 {
        width: 310px;
    }
    .photo2 {
        width: 195px;
    }
    .photo3 {
        width: 195px;
    }
    .photo4 {
        width: 300px;
    }
    .photo5 {
        width: 225px;
    }
    .photo6 {
        width: 215px;
    }
    .photo7 {
        width: 310px;
    }
    .photo8 {
        width: 265px;
    }
    .photo9 {
        width: 225px;
    }
    .photo10 {
        width: 100px;
    }

    .bg {
        width: 500px;
    }

    #bg1 {
        top: 20%;
    }

    #bg2 {
        top: 80%;
    }
    #bg3 {
        top: 180%;
    }
    #bg4 {
        top: 330%;
    }
    #bg5 {
        top: 430%;
    }
    #bg6 {
        top: 490%;
    }
    #bg7 {
        top: 600%;
    }
    #bg8 {
        top: 705%;
    }
    #bg9 {
        top: 755%;
    }
}