.head {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}
.TitleContainer {
    width: 70%;
}
.topicTitle {
    font-size: 75px;
    display: inline-block;
    font-family: Montserrat;
    color: #fff;
}
.taskContainer {
    width: 100%;
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}