.headerHome {
    position: relative;
    height: auto;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 200px;
    overflow: visible;
}

.bgimg {
    position: absolute;
    height: 100%;
    
    pointer-events: none;
}

nav {
    position: relative;
    margin-top: 40px;
}

.title {
    font-size: 25px;
    font-weight: 500;

    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 350px;
}

.alge {
    width: 627px;
    position: relative;
    font-size: 150px;
    font-weight: 800;
    font-family: Montserrat;
    background: linear-gradient(90deg, #d420b0, #45caff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
    display: inline-block;
    overflow: visible;
}

.sub {
    width: 456px;
    position: relative;
    font-size: 25px;
    font-weight: 500;
    font-family: Montserrat;
    color: #a5a8ab;
    text-align: left;
    display: inline-block;
}

.bgimg {
    position: absolute;
}

.graphics {
    position: relative;
    height: auto;
    width: 100%;
    padding-top: 75px;
    padding-bottom: 75px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.graphs {
    max-width: 1000px;
    margin-left: 20px;
    margin-right: 20px;
}

.periods {
    position: relative;
    width: 100%;
    height: fit-content;
    padding-top: 50px;
    padding-bottom: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.periodsIntro {
    max-width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conquer {
    width: 731px;
    position: relative;
    font-size: 60px;
    display: inline-block;
    font-family: Montserrat;
    color: #fff;
    text-align: left;
}

.embark {
    width: 630px;
    position: relative;
    font-size: 20px;
    font-family: Montserrat;
    color: #fff;
    text-align: center;
    display: inline-block;
    height: 71px
}

.semestrialterms {
    max-width: 80%;
    width: autos;

    display: grid;
    grid-template-columns: auto auto;

    gap: 20px;
}

.term {
    width: 480px;
    position: relative;
    box-shadow: 4px 4px 20px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    background-color: #26292c;
    height: 310px;
}

.termIcon {
    width: 91px;
    position: relative;
    border-radius: 20px;
    background-color: #474a4e;
    height: 91px;

    margin-left: 30px;
    margin-top: 30px;
}

.termtitle {
    width: 226px;
    position: relative;
    font-size: 25px;
    display: inline-block;
    font-family: 'Montserrat';
    color: #fff;
    text-align: left;

    margin-left: 30px;
}

.termlist {
    position: relative;

    color: #474a4e;

    font-family: inherit;
    font-size: inherit;
    padding-left: 24px;


    margin-left: 60px;
}

.termItem {
    position: relative;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Montserrat';
}

#prelim {
    display: flex;
    align-items: center;
    justify-content: center;
}

._123 {
    width: 60px;
    position: relative;
    overflow: hidden;
    object-fit: cover;

    pointer-events: none;
}

._2 {
    position: absolute;
    width: 23px;
    background-color: #474a4e;
    left: 31px;

    pointer-events: none;
}

#mindterm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sqrtTable {
    position: absolute;
    width: 56px;
    top: 18px;
    left: 18px;
    
    pointer-events: none;
}

#semis {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}

.function {
    width: 52px;
    
    pointer-events: none;
}

#finals {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}

.wave {
    width: 62px;

    pointer-events: none;
}

#bg1 {
    position: absolute;
    width: 1102px;
    height: 1018px;

    left: -375px;
    top: 200px;

    animation: rotation 10s infinite linear;

    pointer-events: none;
}

#bg2 {
    position: absolute;
    width: 1155px;
    height: 1109px;

    right: -600px;
    top: -50px;
    animation: rotation 7.30s infinite linear;

    pointer-events: none;
}

#bg3 {
    position: absolute;
    width: 1155px;
    height: 1109px;
    animation: rotation 7.30s infinite linear;
    
    pointer-events: none;
}

footer {
    margin-top: 100px;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

@media only screen and (max-width: 600px) {
    .headerHome {
        width: 100%;
        height: auto;
        gap: 50px;
    }
    
    nav {
        margin-top: 27px;
    }

    .title {
        width: 100%;
        margin-bottom: 75px;
    }

    .alge {
        width: fit-content;
        font-size: 75px;
    }

    .sub {
        width: fit-content;
        font-size: 10px;
    }

    .graphics{
        padding-top: 60px;
        padding-bottom: 50px;
    }

    .graphs {
        max-width: 90%;
    }

    .periods {
        padding-top: 30px;
    }

    .periodsIntro {
        max-width: 85%;
        justify-content: center;
    }

    .conquer {
        width: 100%;
        height: fit-content;
        font-size: 25px;
        text-align: center;
    }

    .embark {
        margin: 0;
        margin-bottom: 10px;
        width: 90%;
        font-size: 10px;
        text-align: center;
    }

    .semestrialterms {
        max-width: 100%;
        min-width: none;
        grid-template-columns: auto;
    }

    .term {
        width: 80%;
        height: auto;
        padding-bottom: 10px;
        place-self: center;
    }

    .termIcon {
        border-radius: 13px;
        width: 45px;
        height: 45px;

        margin-top: 17px;
        margin-left: 17px;
    }

    .termtitle {
        width: 200px;
        font-size: 20px;
        
        margin-left: 17px;
    }

    .termlist {
        margin-top: 3px;
        margin-left: 30px;
        margin-right: 10px;
    }

    .termItem {
        font-size: 15px;
    }

    ._123 {
        width: 35px;
    }

    ._2 {
        width: 13px;
        left: 14px;
    }

    .sqrtTable {
        width: 77%;
        top: 6px;
        left: 6px;
    }

    .function {
        width: 77%;
    }

    .wave {
        width: 77%;
    }

    footer {
        margin-top: 0;
    }
    
    #bg1 {
        width: 288.75px;
        height: 277.25px;

        left: -30%;
        top: 30%;
    }

    #bg2 {
        width: 288.75px;
        height: 277.25px;

        right:  -30%;
        top: 30%;
    }
    
    #bg3 {
        width: 288.75px;
        height: 277.25px;
    }
}