.navi {
    width: 100%;
    position: relative;
    height: 48px;
    font-size: 23px;
    color: #fff;
    font-family: 'Montserrat';

    display: flex;
    align-items: center;
}

.iconHolder {
    position: absolute;
    height: auto;

    left: 10%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 0px;
}

.list {
    position: absolute;
    height: auto;

    right: 10%;
    list-style: none;
    gap: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
}

.listItem {
    display: inline-block;

    width: max-content;
    position: relative;
    font-size: 23px;
    letter-spacing: 0.05em;
    font-family: 'Montserrat';
    color: #fff;
    display: inline-block;
}

.img {
    width: 48px;
    height: 48px;
}

.name {
    width: 194px;
    position: relative;
    font-size: 35px;
    letter-spacing: 0.05em;
    display: inline-block;
    font-family: 'Montserrat';
    color: #fff;
    text-align: left;
}

@media only screen and (max-width: 1200px) {
    .navi {
        width: 90%;
        flex-direction: row;
    }

    .iconHolder {
        position: absolute;
        margin-left: 0px;
        left: 0%;
    }

    .img {
        width: 38px;
        height: 38px;
    }

    .name {
        font-size: 30px;
    }

    .list {
        right: 0%;
        gap: 50px;
    }

    .listItem {
        font-size: 18px;
    }
}

@media only screen and (max-width: 1050px) {
    .list {
        gap: 30px;
    }
}

@media only screen and (max-width: 900px){
    .list {
        gap: 10px;
    }
}

@media only screen and (max-width: 600px) {
    .navi {
        width: 90%;
        flex-direction: row;
    }

    .iconHolder {
        position: absolute;
    }

    .name {
        font-size: 25px;
    }
    
    .list {
        display: none;
    }
}