.headero {
    width: 100%;
    height: auto;
    column-gap: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.iconNameHolder {
    display: flex;
    flex-direction: row;
    padding: 25px;
    padding-left: 136px;
    align-items: center;
    margin-left: 100px;
}


.name {
    /* CSMAT101 */

    width: 194px;
    height: 43px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    /* identical to box height */
    letter-spacing: 0.05em;

    color: #FFFFFF;

}

.img {
    width: 48;
    height: 48;
}


.list {
    list-style: none;
    display: inline;
    display: flex;
    gap: 100px;
}

.item {
    display: inline;
    font-size: 35px;

    width: 82px;
    height: 28px;   

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 28px;
    /* identical to box height */
    letter-spacing: 0.05em;

    color: #FFFFFF;


}