.navi {
    max-width: 1280px;;
    width: 1280px;
    position: relative;
    height: 48px;
    font-size: 23px;
    color: #fff;
    font-family: 'Montserrat';

    display: flex;
}

.iconHolder {
    position: relative;
    width: 40%;
    height: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 0px;

    pointer-events: none;
}

.list {
    position: relative;
    width:60%;
    height: auto;

    list-style: none;
    gap: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
}

.listItem {
    display: inline-block;

    width: max-content;
    position: relative;
    font-size: 23px;
    letter-spacing: 0.05em;
    font-family: 'Montserrat';
    color: #fff;
    display: inline-block;
}

.img {
    width: 48px;
    height: 48px;
}

.name {
    width: 194px;
    position: relative;
    font-size: 35px;
    letter-spacing: 0.05em;
    display: inline-block;
    font-family: 'Montserrat';
    color: #fff;
    text-align: left;
}

@media only screen and (max-width: 600px) {
    .navi {
        max-width: 60%;
        flex-direction: column;
    }
    
    .iconHolder {
        margin-left: 0px;
    }

    .name {
        font-size: 25px;
    }
    
    .list {
        display: none;
    }

}